.footer{
    height: 500px;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 150px;
    padding: 25px;
    
}
.footermain{
    display: flex;
    justify-content: space-around;
}
.footernav{
    margin-top:25px;
}
.usefullink{
margin-top: 50px;
}
.footerlocation{
    margin-top: 25px;
}
.usefullink a{
    color: white;
    text-decoration: none;
}
.usefullink i{
    font-size: 35px;
}
.usefullink i img{
    height: 45px;
    width: 45px;
}
.footernav a{
    color:white;
}
.footerlocation p{
    color: white;
}
.dev{
   display: flex;
   justify-content: space-evenly;
}
.dev img{
    height:5%;
    width: 20%;
}
@media screen and (max-width:400px){
.footer{
    height: 350px;
    margin-top: 75px;
}
.footer a{
    font-size:10px;
}
.footer p{
    font-size:10px;
}
.usefullink i{
    font-size: 10px;
}
.usefullink i img{
    height: 25px;
    width: 25px;
}
.dev img{
    height: 15%;
    width: 35%;
}

}
@media screen and (max-width:600px){
    .footer{
        height: 400px;
        margin-top: 75px;
    }
    .footer a{
        font-size:12px;
    }
    .footer p{
        font-size:12px;
    }
    .usefullink i{
        font-size: 12px;
    }
    .usefullink i img{
        height: 30px;
        width: 30px;
    }
    .dev img{
        height: 25%;
        width: 40%;
    }
    .footermain{
        display: flex;
        justify-content: space-between;
    }
    }