.footer{
    height: 400px;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 150px;
    padding: 25px;
}
.footermain{
    display: flex;
    justify-content: space-around;
}
.footernav{
    margin-top:25px;
}
.usefullink{
margin-top: 50px;
}
.footerlocation{
    margin-top: 25px;
}
.usefullink a{
    color: white;
    text-decoration: none;
}
.usefullink i{
    font-size: 35px;
}
.footernav a{
    color:white;
}
.footerlocation p{
    color: white;
}
.dev{
   display: flex;
   justify-content: space-evenly;
}
.dev img{
    /* height: 25%; */
    /* margin-right: 50px; */

}