.teammain{
    display: flex;
    justify-content: center ;
    align-items: center;
}
.teamcard{
    margin: 45px;
    height: 470px;
}
.teammember{
    display: flex;
}
.teamtitle{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.card-body .icon{
    font-size:10px;
    display: flex;
    justify-content:space-around;
}
.card-body a{
    color: black;
}
.card-body {
    display: flex;
    justify-content: center;
}
@media screen and (max-width:1150px){
    .member{
        display: block;
    }
}