.teammain{
    display: flex;
    justify-content: center ;
    align-items: center;
}
.teamcard{
    margin: 45px;
    height: 60vh;
}
.teammember{
    display: flex;
}
.teamtitle{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.teamcard{
    border: 2px solid black;    
}
.card-body .teamicon{
    display: flex;
    justify-content:space-evenly;
}
.card-body .teamicon a{
    font-size: 30px;
}
.card-body a{
    color: black;
}
.card-body {
    display: flex;
    justify-content: center;
}
@media screen and (max-width:1150px){
    .teammember{
        display: block;
    }
}