main{
    display: flex;
    justify-content: center;
}
.main{
    margin-top: 25px;  
}

.row{
    width: 75vw;
    display: flex;
}

.card-body .detail{
    display: flex;
    justify-content: space-evenly;
}

.card{
    margin-top: 75px;
    box-shadow: 0 30px 50px #dbdbdb;
    transition: 0.5s ease-in;
}
 .card:hover{
    transform: translateY(-20px);
}