.trekname{
    margin-top: 25px;
    margin-bottom: 25px;
    border:2px solid black;
    width: 80vw;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trekcontent{
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
}
.trekimage{
    width: 30vw;
}
.trekdetail{
    width: 50vw;
    font-size: 1.6rem;
}