main{
    display: flex;
    justify-content: center;
}
.main{
    margin-top: 25px;  
}

.row1{
    width: 75vw;
    display: flex; 
    flex-direction: column; 
    flex-wrap: wrap; 
}
.row1 .col{
    flex: 0 0 50px; 
    margin: 5px; 
}

.cardbody1 .detail{
    display: flex;
    justify-content: space-evenly;
}

.card1{
    margin-top: 75px;
    box-shadow: 0 30px 50px #dbdbdb;
    transition: 0.5s ease-in;
    height: 350px;
}
.card1 .detail{
    margin-left: 10px;
}
 .card1:hover{
    transform: translateY(-20px);
}
