main{
    display: flex;
    justify-content: center;
}
.main{
    margin-top: 25px;  
}
.trekrow{
    display: grid;
    grid-template-columns: 33.333% 33.33% 33.33%;
    width: 80vw;
}

.cardbody1 .detail{
    display: flex;
    justify-content: space-evenly;
}

.card1{
    margin-top: 75px;
    box-shadow: 0 30px 50px #dbdbdb;
    transition: 0.5s ease-in;
    height: 350px;
    /* width: 18rem; */
    margin-left: 8vw;
    color: black;
    text-decoration: none;
    /* margin-right: 250px; */
}

.card1 .detail{
    margin-left: 10px;
    text-decoration: none;
}

 .card1:hover{
    transform: translateY(-20px);
}
@media screen and (max-width:1000px){
    .trekrow{
        display: grid;
        grid-template-columns: 50% 50%;
        width: 80vw;
    }
}
@media screen and (max-width:600px){
    .trekrow{
        display: grid;
        grid-template-columns: 100%;
        width: 80vw;
    }
}